/.vscode
/__pycache__
/analyzer/__pycache__
/analyzer/parsetab.py
*.out
parselog.txt
/analyzer/grammar.txt
/interpreter/__pycache__
/interpreter/expression/__pycache__
/interpreter/environment/__pycache__